---
export const prerender = true;

import Layout from "@components/Layout.astro";
import { getPosts } from "@utils/posts";
import { formatDate } from "@utils/format";

import type { InferGetStaticPropsType } from "astro";

export const getStaticPaths = async () => {
	const posts = await getPosts();
	return posts.map((post) => {
		return {
			params: {
				post_id: post.postId
			},
			props: {
				post
			}
		};
	});
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
---

<Layout
	title={post.metaData.title}
	description={post.metaData.description}
	ogId={post.postId}
>
	<h1 class="text-4xl font-semibold sm:text-5xl">{post.metaData.title}</h1>
	<p class="mt-4 text-lg text-zinc-800">
		{formatDate(post.metaData.date)}
	</p>
	<div class="mt-6">
		{
			post.metaData.tldr && (
				<p class="font-medium text-main">tl;dr - {post.metaData.tldr}</p>
			)
		}
	</div>
	<div id="md" class="mt-12 leading-relaxed">
		<post.Content />
	</div>
</Layout>

<style lang="postcss">
    :global(#md h2) {
        @apply mt-16 text-3xl sm:text-4xl font-semibold;
    }
    :global(#md h3) {
        @apply mt-8 text-2xl font-medium;
    }
    :global(#md h4) {
        @apply mt-6 text-xl font-medium;
    }
	:global(#md h5) {
        @apply mt-4 text-lg font-medium;
    }
    :global(#md > p) {
        @apply mt-4 ;
    }
    :global(#md ol) {
        @apply mt-4 list-decimal list-inside;
    }
	:global(#md ul) {
        @apply mt-4 list-disc list-inside ;
    }
    :global(#md blockquote) {
        @apply text-zinc-500 mt-4 border-l-2 border-zinc-400 pl-1.5 text-base;
    }
    :global(#md a) {
        @apply text-main hover:underline;
    }
    :global(#md p code, #md ul code, #md ol code) {
		@apply text-base;
	}
	:global(#md table code) {
		@apply text-sm;
	}
	:global(#md .astro-code) {
		@apply my-2 overflow-scroll rounded-md px-4 py-2 text-base ;
		scrollbar-width: none;
	}
	:global(#md pre::-webkit-scrollbar) {
		display: none;
	}
    :global(#md table) {
		@apply mt-6 mb-2 w-full table-auto border-collapse text-left text-sm;
	}
	:global(#md .table-wrapper) {
		@apply w-full overflow-auto whitespace-nowrap;
	}
	:global(#md td) {
		@apply border-b border-zinc-200 py-1.5 px-1;
	}
	:global(#md table th) {
		@apply text-xs font-medium py-1.5 px-1 border-b border-zinc-400;
	}
</style>
