---
import Layout from "@components/Layout.astro";

import projects from "../projects.json";
import { getPosts } from "@utils/posts";

const posts = await getPosts();
---

<Layout title="Pilcrow" description="Pilcrow's personal website">
	<h1 class="mb-3 text-3xl font-semibold">Hi, I'm Pilcrow</h1>
	<p class="text-zinc-800">
		I think I'm best "known" for my work on auth libraries, but I'm interested
		in anything web dev... well maybe except CSS. I enjoy taking photos,
		drawing, playing games, traveling, and cooking. Italian food is my favorite.
	</p>
	<p class="mt-4 text-zinc-800">
		Feel free to message me on Twitter or Discord!
	</p>
	<section class="mt-8">
		<h2 class="mb-2 text-2xl font-semibold">Projects</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
			{
				projects.map((project) => {
					return (
						<article class="group rounded-md pt-2 pb-3 px-4  border">
							<a
								href={new URL(project.repository, "https://github.com")}
								class="block"
							>
								<h3 class="w-fit group-hover:text-main group-hover:underline">
									{project.name}
								</h3>
								<p class=" text-zinc-500 text-sm">{project.description}</p>
							</a>
						</article>
					);
				})
			}
		</div>
	</section>
	<section class="mt-12">
		<h2 class="mb-4 text-2xl font-semibold">Blog</h2>
		{
			posts.map((post) => {
				return (
					<article class="mb-4">
						<h3 class="w-fit ">
							<a href={post.href} class="hover:text-main hover:underline">
								{post.metaData.title}
							</a>
						</h3>
						<p class="text-zinc-400 text-sm">{post.metaData.description}</p>
					</article>
				);
			})
		}
	</section>
</Layout>
