---
interface Props {
	title: string;
	description?: string;
	ogId?: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{Astro.props.description !== undefined && <meta name="description" content={Astro.props.description} />}
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="/" crossorigin />
		<link rel="preload" href="/profile.jpg" as="image" />
		<link rel="icon" href="/profile.jpg" />
		<link rel="alternate" type="application/rss+xml" title="Pilcrow" href={`${Astro.site}rss.xml`} />

		<!-- OpenGraph tags -->
		<meta property="og:title" content={Astro.props.title} />
		{Astro.props.description !== undefined && <meta property="og:description" content={Astro.props.description} />}
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:site_name" content="Pilcrow" />
		<meta property="og:url" content="https://pilcrowonpaper.com" />
		<meta property="og:image" content="https://pilcrowonpaper.com/profile.jpg" />

		<!-- Twitter tags -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@pilcrowonpaper" />
		<meta name="twitter:title" content={Astro.props.title} />
		{Astro.props.description !== undefined && <meta name="twitter:description" content={Astro.props.description} />}

		<!-- Discord -->
		<meta name="theme-color" content="#7575ff" />
	</head>
	<body class="mx-auto max-w-3xl px-4">
		<main class="pb-16 pt-8 leading-relaxed sm:pt-12">
			<slot />
		</main>
		<footer class="flex place-content-between py-12">
			<p class="text-sm text-zinc-450">Copyright © pilcrowonpaper</p>
			<a href="https://github.com/pilcrowonpaper/pilcrow" class="text-sm text-main underline hover:text-zinc-450"
				>Source code</a
			>
		</footer>
	</body>
	<style>
		html {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
				"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
		code {
			font-family:
				ui-monospace,
				SFMono-Regular,
				SF Mono,
				Menlo,
				Consolas,
				Liberation Mono,
				monospace;
		}
	</style>
</html>
