---
type Props = {
	title: string;
	description: string;
	ogId?: string;
};

const ORIGIN = "https://" + import.meta.env.VERCEL_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="/" crossorigin />
		<link rel="preload" href="/profile.jpg" as="image" />
		<link rel="icon" href="/profile.jpg" />

		<meta name="og:title" content={Astro.props.title} />

		<!-- OpenGraph tags -->
		<meta property="og:title" content={Astro.props.title} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:description" content={Astro.props.description} />
		<meta property="og:site_name" content="Pilcrow" />
		<meta property="og:url" content={ORIGIN} />
		<meta property="og:image" content="/profile.jpg" />

		<!-- Twitter tags -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@pilcrowonpaper" />
		<meta name="twitter:title" content={Astro.props.title} />
		<meta name="twitter:description" content={Astro.props.description} />

		<!-- Discord -->
		<meta name="theme-color" content="#7575ff" />
	</head>
	<body class="mx-auto max-w-3xl px-4 text-zinc-800">
		<header class="flex place-content-between place-items-center pb-2 pt-6">
			<a class="block" href="/">
				<img
					src="/profile.jpg"
					alt="profile picture"
					class="h-8 w-8 rounded-full bg-zinc-100 transition-transform duration-200 ease-in-out hover:scale-110 sm:h-10 sm:w-10"
				/></a
			>
			<div class="flex gap-x-4 text-zinc-800">
				<a href="https://github.com/pilcrowOnPaper" class="hover:text-main hover:underline"
					>Github</a
				>
				<a href="https://twitter.com/pilcrowonpaper" class="hover:text-main hover:underline"
					>Twitter</a
				>
			</div>
		</header>
		<main class="pb-32 pt-8 leading-relaxed sm:pt-12">
			<slot />
		</main>
	</body>
	<style>
		html {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
				sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
		code {
			font-family:
				ui-monospace,
				SFMono-Regular,
				SF Mono,
				Menlo,
				Consolas,
				Liberation Mono,
				monospace;
		}
	</style>
</html>
