---
type Props = {
	title: string;
	description: string;
	ogId?: string;
};

const fontFiles = [
	{
		size: 400,
		weight: [null, "italic"]
	},
	{
		size: 500,
		weight: [null]
	},
	{
		size: 600,
		weight: [null]
	}
];

const ORIGIN = "https://pilcrow.vercel.app";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="/" crossorigin />
		{
			fontFiles.map((fontFile) => {
				const urls = fontFile.weight.map((weight) => {
					if (weight) return `/fonts/jost-${fontFile.size}-${weight}.woff2`;
					return `/fonts/jost-${fontFile.size}.woff2`;
				});
				return urls.map((fontUrl) => (
					<link
						rel="preload"
						href={fontUrl}
						as="font"
						type="font/woff2"
						crossorigin
					/>
				));
			})
		}
		<link rel="preload" href="/profile.jpg" as="image" />
		<link rel="icon" type="image/svg+xml" href="/profile.jpg" />

		<!-- OpenGraph tags -->
		<meta property="og:title" content={Astro.props.title} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:description" content={Astro.props.description} />
		<meta property="og:site_name" content="Pilcrow" />
		<meta property="og:url" content={ORIGIN} />
		<meta
			name="og:image"
			content={new URL(
				Astro.props.ogId ? `/og/${Astro.props.ogId}.jpg` : "/og/pilcrow.jpg",
				ORIGIN
			)}
		/>
		<meta name="og:title" content={Astro.props.title} />

		<!-- Twitter tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<!-- <meta name="twitter:site" content="pilcrow" />
		<meta name="twitter:title" content={Astro.props.title} />
		<meta name="twitter:description" content={Astro.props.description} />
		<meta
			name="twitter:image"
			content={`/og/${Astro.props.ogId}.jpg` ?? "/og/pilcrow.jpg"}
		/>
		<meta name="twitter:image:alt" content={Astro.props.title} /> -->

		<!-- Discord -->
		<meta name="theme-color" content="#7575ff" />
	</head>
	<body class="mx-auto max-w-3xl px-4 text-lg">
		<header class="flex place-content-between place-items-center pb-2 pt-6">
			<a class="block" href="/">
				<img
					src="/profile.jpg"
					alt="profile picture"
					class="h-10 w-10 rounded-full bg-zinc-100"
				/></a
			>
			<div class="flex gap-x-4 text-zinc-800">
				<a href="/projects" class="hover:text-main hover:underline">Projects</a>
				<a href="/blog" class="hover:text-main hover:underline">Blog</a>
			</div>
		</header>
		<main class="mb-24 mt-12 leading-relaxed sm:mt-16">
			<slot />
		</main>
	</body>
	<style>
		/* @font-face {
			font-family: "Jost";
			src: url("/fonts/jost-700.woff2") format("woff2");
			font-weight: 700;
			font-style: normal;
		} */
		@font-face {
			font-family: "Jost";
			src: url("/fonts/jost-600.woff2") format("woff2");
			font-weight: 600;
			font-style: normal;
		}
		@font-face {
			font-family: "Jost";
			src: url("/fonts/jost-500.woff2") format("woff2");
			font-weight: 500;
			font-style: normal;
		}
		@font-face {
			font-family: "Jost";
			src: url("/fonts/jost-400.woff2") format("woff2");
			font-weight: 400;
			font-style: normal;
		}
		@font-face {
			font-family: "Jost";
			src: url("/fonts/jost-400-italic.woff2") format("woff2");
			font-weight: 400;
			font-style: italic;
		}

		html {
			font-family: "Jost", sans-serif;
		}
	</style>
</html>
