---
import StarIcon from './icons/StarIcon.astro';

type Props = {
  repository: Repository;
};
const { name, url, stars, language, description } = Astro.props.repository;
---

<a href={url} class="rounded-lg border p-4 block  hover:border-indigo-400 ">
  <h2 class="text-xl font-semibold">{name}</h2>
  <p>{description}</p>
  <div class="flex gap-x-4 mt-2 text-gray-400 text-sm">
    <div class="flex place-items-center gap-x-0.5">
      <StarIcon/>
      <p>{stars}</p>
    </div>
    <p>{language}</p>
  </div>
</a>
